[Desktop Entry]
Version=1.0
Type=Application
Name=Simulation
Comment=DD21 - UKF 2d - simulation - Exercise
Exec=/usr/bin/launch-ukf-2d.sh
Icon=/root/.icons/duckiedrone-icon.png
Terminal=true
X-KeepTerminal=true
StartupNotify=true