[Desktop Entry]
Version=1.0
Type=Application
Name=LED Activity
Comment=Duckiebot LX - LED Control
Exec=/usr/bin/launch-led-publisher.sh
Icon=/root/.icons/led_icon.png
Terminal=true
X-KeepTerminal=true
StartupNotify=true